/* @import "tailwindcss"; */

@font-face {
  font-family: "GoogleSans-Regular";
  src: url("../assets/fonts/GoogleSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

/* ===== Averta Std CY ===== */
@font-face {
  font-family: "AvertaStdCY-Extrathin";
  src: url("../assets/fonts/Intelligent Design - AvertaStdCy-Extrathin_1.otf")
    format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "AvertaStdCY-ExtrathinItalic";
  src: url("../assets/fonts/Intelligent Design - AvertaStdCy-ExtrathinItalic_1.otf")
    format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "AvertaStdCY-Thin";
  src: url("../assets/fonts/Intelligent Design - AvertaStdCY-Thin_1.otf")
    format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "AvertaStdCY-ThinItalic";
  src: url("../assets/fonts/Intelligent Design - AvertaStdCY-ThinItalic_1.otf")
    format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "AvertaStdCY-Light";
  src: url("../assets/fonts/Intelligent Design - AvertaStdCY-Light_1.otf")
    format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "AvertaStdCY-LightItalic";
  src: url("../assets/fonts/Intelligent Design - AvertaStdCY-LightItalic_1.otf")
    format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "AvertaStdCY-Regular";
  src: url("../assets/fonts/Intelligent Design - AvertaStdCY-Regular_3.otf")
    format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "AvertaStdCY-RegularItalic";
  src: url("../assets/fonts/Intelligent Design - AvertaStdCY-RegularItalic_1.otf")
    format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "AvertaStdCY-Semibold";
  src: url("../assets/fonts/Intelligent Design - AvertaStdCY-Semibold_1.otf")
    format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "AvertaStdCY-SemiboldItalic";
  src: url("../assets/fonts/Intelligent Design - AvertaStdCY-SemiboldItalic_1.otf")
    format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "AvertaStdCY-Bold";
  src: url("../assets/fonts/Intelligent Design - AvertaStdCY-Bold_1.otf")
    format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "AvertaStdCY-BoldItalic";
  src: url("../assets/fonts/Intelligent Design - AvertaStdCY-BoldItalic_1.otf")
    format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "AvertaStdCY-Extrabold";
  src: url("../assets/fonts/Intelligent Design - AvertaStdCY-Extrabold_1.otf")
    format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "AvertaStdCY-ExtraboldItalic";
  src: url("../assets/fonts/Intelligent Design - AvertaStdCY-ExtraboldItalic_1.otf")
    format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "AvertaStdCY-Black";
  src: url("../assets/fonts/Intelligent Design - AvertaStdCY-Black_1.otf")
    format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "AvertaStdCY-BlackItalic";
  src: url("../assets/fonts/Intelligent Design - AvertaStdCY-BlackItalic_1.otf")
    format("opentype");
  font-display: swap;
}

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --root-font-size: 1vw;
  --root-font-family: "AvertaStdCY-Regular", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-family: var(--root-font-family);
}

html {
  scroll-behavior: smooth;
  font-size: var(--root-font-size);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* background-color: white; */
  padding: 0;
  margin: 0;
}
a,
a:link,
a:visited {
  text-decoration: none;
  color: initial;
  width: 100%;
}

[class*="__breadcrumb"] a,
[class*="__breadcrumb"] a:link,
[class*="__breadcrumb"] a:visited {
  width: auto;
}

input,
textarea {
  border: none;
}
::-webkit-scrollbar {
  /* width: 8px; */
  display: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: grabbing;
}

@media screen and (max-width: 639px) {
  :root {
    --root-font-size: 4.26667vw;
  }
}

@media screen and (min-width: 1600px) {
  :root {
    --root-font-size: 16px;
  }
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

@layer base {
  :root {
  }
}

.text-imperial-script {
  font-family: "ImperialScript-Regular", sans-serif;
  font-weight: 600;
  font-size: calc(var(--root-font-size) * 3);
  line-height: 120%;
}

.my-container {
  width: 100%;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
}

@media screen and (max-width: 768px) {
  .my-container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.text-line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

svg {
  width: 1rem;
  height: 1rem;
}
.none-pc {
  display: none !important;
}

@media (max-width: 640px) {
  .none-mobile {
    display: none !important;
  }
  .none-pc {
    display: flex !important;
  }
}
